// Variables
$navbar-color: darken(black, 10%);
$navbar-bg: lighten(black, 20%);
$body-bg: lighten(black, 15%);
$navlink-color: #4CAF50;
$navlink-border: darken(#4CAF50, 20%);
$x-large: 40em;
$large: 30em;
$medium: 20em;
$small: 15em;
$x-small: 10em;
$md-font: 4em;
$sm-font: 2em;

// Mixins
@mixin linear-bg() {
	background: #4CAF50;
	background: -moz-linear-gradient(top, #4CAF50 0%, #1f3b08 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #4CAF50), color-stop(100%, #1f3b08));
	background: -webkit-linear-gradient(top, #4CAF50 0%, #1f3b08 100%);
	background: -o-linear-gradient(top, #4CAF50 0%, #1f3b08 100%);
	background: -ms-linear-gradient(top, #4CAF50 0%, #1f3b08 100%);
	background: linear-gradient(top, #4CAF50 0%, #1f3b08 100%);
}

@mixin container-perim() {
	-webkit-box-shadow: 0px 0px 5px 8px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 8px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 8px rgba(0,0,0,0.75);
}

@mixin black-gd-txt() {
	background: -webkit-linear-gradient(#bfbfbf, #333);
	background: -moz-linear-gradient(#bfbfbf, #333);
	background: linear-gradient(#bfbfbf, #333);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	text-fill-color: transparent;
}

@mixin bg-cover() {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

// Globals
html, body {
	height: 100%;
	width: 100%;
	color: white;
}

body {
	padding-top: 3.925em;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}

// Classes
.navbar-li {
	float: left;
	
	a {
		display: flex;
		padding: 1.1em;
		color: white;

		&:link, &:visited {
			text-decoration: none;
		}

		&:active {
			text-decoration: none;
		}

	}
}

.active {
	background-color: $navlink-color;
	box-shadow: inset 0 0 0 1px $navlink-border, inset 0 5px 30px #193047;

	&:hover {
		text-decoration: none;
		color: white !important;
	}
}

.inactive {
	&:hover {
		text-decoration: none;
		color: white;
		box-shadow: inset 0 0 0 1px $navlink-border, 0 5px 15px #193047;
		border: none;
  		@include linear-bg();
	}
}

.container-fluid {
	background-color: $body-bg;
	height: 100%;
}

.lg-pa {
	font-size: 1.3em;
}

.wrapper {
	margin: 2em auto;
	width: $x-large;
	height: $small;
}

.view-box {
	height: 100%;
	width: 100%;
}
 
// IDs
#navi-bar {
	border-top: 2px solid $navbar-color;
	border-bottom: 2px solid $navbar-color;
	background-color: $navbar-bg;
	top: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	width: 100% !important;
	height: 4em;
	padding: 0 4em 0 4em;
	position: fixed;
}

#navbar-ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#directions {
	margin: 0 auto;
	color: white;
	text-shadow: 0 -.1em .2em black;
	padding: $md-font 0 0 0;
	text-align: center;
	width: $x-large;
	height: $x-small;
	border: 1px solid black;
	background-color: lighten(black, 40%);
	border-radius: 5px;
}

#spc-heading {
	@include black-gd-txt();
	cursor: pointer;
}

#map_canvas {
	min-height: 200px;
	min-width: 200px;
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

// Media Queries
@media only screen and (max-width: 550px) {
	#directions {
		width: $medium;
		height: $x-small;
	}

	.wrapper {
		margin: 0 auto;
		width: $medium;
		height: $medium;
	}
}