html, body {
  height: 100%;
  width: 100%; }

body {
  padding-top: 100px;
  background: url("../img/coffee.jpg") center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.2em;
  margin-bottom: 1.2em; }

.navbar-li {
  float: left; }
  .navbar-li a {
    display: flex;
    padding: 1.1em;
    color: white; }
    .navbar-li a:link, .navbar-li a:visited {
      text-decoration: none; }
    .navbar-li a:active {
      text-decoration: none; }

.active {
  background-color: #4CAF50;
  box-shadow: inset 0 0 0 1px #2d682f, inset 0 5px 30px #193047; }
  .active:hover {
    text-decoration: none;
    color: white !important; }

.inactive:hover {
  text-decoration: none;
  color: white;
  box-shadow: inset 0 0 0 1px #2d682f, 0 5px 15px #193047;
  border: none;
  background: #4CAF50;
  background: -moz-linear-gradient(top, #4CAF50 0%, #1f3b08 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #4CAF50), color-stop(100%, #1f3b08));
  background: -webkit-linear-gradient(top, #4CAF50 0%, #1f3b08 100%);
  background: -o-linear-gradient(top, #4CAF50 0%, #1f3b08 100%);
  background: -ms-linear-gradient(top, #4CAF50 0%, #1f3b08 100%);
  background: linear-gradient(top, #4CAF50 0%, #1f3b08 100%); }

.container {
  -webkit-box-shadow: 0px 0px 5px 8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 8px rgba(0, 0, 0, 0.75);
  background-color: white;
  opacity: 0.8;
  filter: alpha(opacity=80);
  /* For IE8 and earlier */
  height: 100%; }

.lg-pa {
  font-size: 1.3em; }

.wrapper {
  margin: 5em auto;
  width: 40em;
  height: 30em; }

.angular-google-map-container {
  height: 300px; }

.angular-google-map {
  height: 300px; }

#navi-bar {
  border: 2px solid black;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-image: url("http://api.thumbr.it/whitenoise-361x370.png?background=1f1b1fff&noise=626262&density=64&opacity=15");
  width: 100% !important;
  height: 4em;
  padding: 0 4em 0 4em;
  position: fixed; }

#navbar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

#directions {
  margin: 0 auto;
  color: white;
  text-shadow: 0 -.1em .2em black;
  padding: 4em 0 0 0;
  text-align: center;
  width: 40em;
  height: 10em;
  border: 1px solid black;
  background-color: #666666;
  border-radius: 5px; }

#spc-heading {
  background: -webkit-linear-gradient(#bfbfbf, #333);
  background: -moz-linear-gradient(#bfbfbf, #333);
  background: linear-gradient(#bfbfbf, #333);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  cursor: pointer; }

#map_canvas {
  height: 40em;
  margin-top: 10em; }

@media only screen and (max-width: 550px) {
  #directions {
    width: 20em;
    height: 10em; }

  .wrapper {
    width: 20em;
    height: 20em; } }

/*# sourceMappingURL=app.css.map */
